# https://editorconfig.org

# top-most EditorConfig file
root = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,css}]
charset = utf-8
indent_style = space
indent_size = 2

# Matches the exact files
[{package.json}]
indent_style = space
indent_size = 2