/* Global appearance styles */

a:not([class]),
.a-link {
  color: var(--primary-color);
  @apply transition-colors;

  &:hover {
    color: var(--secondary-color);
  }

  &:focus-visible {
    text-decoration: underline;
  }
}

button:not([class]),
.a-button {
  background-color: var(--primary-color);
  color: var(--bg-color);
  padding: 0.5rem 1.25rem;
  border-radius: var(--rounded-base);
  @apply transition-colors;

  &:hover {
    background-color: var(--secondary-color);
  }
}
