<nav class="nav m-auto max-w-2xl py-4">
	<ul class="flex gap-4 flex-wrap">
		<li>
			<a href="/">Link</a>
		</li>
		<li>
			<a href="/">Link</a>
		</li>
		<li>
			<a href="/">Link</a>
		</li>
	</ul>
</nav>
